html {
    font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
}

.page {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 800px;

    color: #fff;
    
    background-image: url('../img/bg.jpg');
    background-size: auto;
}


.header {
    height: 60px;
    
    
    background-color: #2b7ded;
    border: black 1px solid;
}

.header-wrap {
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo {
    
    font-weight: bold;
    font-size: 24px;
}

.code-img {
    width: 40px;
    color: #fff;
    z-index: 111;
}

.menu {
    font-weight: 500;
    position: relative;
}

menu::after {
    
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 10px;
    height: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}